@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "DM Sans", "Noto Kufi Arabic", sans-serif;

}


* {
  user-select: none;
}
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
  height: 3px; /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #eeeeee; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb when hovered */
}


